# Dependencies
node_modules
.pnp
.pnp.js

# Testing & Artifacts
coverage
*.log

# Production build outputs
dist
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea

# AI & IDE Brain folders
.gemini
